{% load static %}
{% load i18n %}
{% get_media_prefix as MEDIA_URL %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Fnote Amara</title>
    <meta name="description" content="{{ config.SITE_DESCRIPTION }}">
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>
    <link rel="stylesheet" href="{% static '/assets/css/main.css' %}"/>
    <link rel="icon" href="{{ MEDIA_URL }}{{ config.SITE_FAVICON }}" type="image/png" sizes="16x16">
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="is-preload">
<nav style="background: #f45a5a; color: white;" class="text-white p-4" id="navbar">
        <div class="container mx-auto flex items-center justify-between space-x-6">
            <!-- Logo -->
            <div class="text-2xl font-bold">
                <a class="hover:bg-white" href="{% url 'content:home' %}">Fnote Amara</a>
            </div>

            <!-- Navigation Links -->
            <div class="hidden md:flex space-x-6">
                <a class="nav-links hover:bg-white" href="{% url 'content:home' %}">{% translate 'Home' %}</a>
                <a class="nav-links hover:bg-white" href="{% url 'content:home' %}">{% translate 'About' %}</a>
                <a class="nav-links hover:bg-white" href="{% url 'content:home' %}">{% translate 'Services' %}</a>
                <a class="nav-links hover:bg-white" href="{% url 'content:home' %}">{% translate 'Contact' %}</a>
            </div>

            <!-- Search Bar -->
            <div class="flex items-center space-x-2">
                <input  style="height: 2.5rem; color: black !important;" type="text" placeholder="{% translate 'Search...' %}" class="bg-gray-700 rounded-l-md px-4 py-2 focus:outline-none">
                <button style="transform: translateX(-1rem); height: 2.7rem; background: white;" class="text-white px-4 py-2 ">
                    <svg class="w-5 h-5" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"></path>
                    </svg>
                </button>
            </div>

            <!-- Login and Signup Buttons -->
            <div class="hidden md:flex items-center space-x-4">
                <a style="color: #f45a5a !important" href="{% url 'content:home' %}" class="bg-white hover:bg-gray-200 px-4 py-2 rounded-md">{% translate 'Login' %}</a>
                <a style="border: 2px solid white" href="{% url 'content:home' %}" class="hover:bg-white text-white px-4 py-2 rounded-md">{% translate 'Signup' %}</a>
            </div>

            <!-- Mobile Menu Button -->
            <div class="md:hidden">
                <button style="border: none !important;" id="mobile-menu-button" class="focus:outline-none">
                    <svg xmlns="http://www.w3.org/2000/svg" width="2em" height="2em" viewBox="0 0 512 512"><path fill="#fff" d="M80 96h352v32H80zm0 144h352v32H80zm0 144h352v32H80z"/></svg>
                </button>
            </div>
        </div>

        <!-- Mobile Menu -->
        <div id="mobile-menu" class="md:hidden hidden text-white p-4 space-y-2">
            <a href="" class="block py-2 hover:text-gray-300">{% translate 'Home' %}</a>
            <a href="" class="block py-2 hover:text-gray-300">{% translate 'News' %}</a>
            <a href="" class="block py-2 hover:text-gray-300">{% translate 'Categories' %}</a>
            <a href="" class="block py-2 hover:text-gray-300">{% translate 'Contact' %}</a>
            <a href="" class="inline-block py-2 bg-blue-500 hover:bg-blue-600 text-white px-4 rounded-md max-w-[150px] text-center">{% translate 'Login' %}</a>
            <a href="" class="inline-block py-2 bg-green-500 hover:bg-green-600 text-white px-4 rounded-md max-w-[150px] text-center">{% translate 'Signup' %}</a>
        </div>
    </nav>
  <!-- Wrapper -->
<div id="wrapper">
    <!-- Navbar -->
    

    <!-- Main -->
    <div id="main">
        <div class="inner">
            <!-- Header -->
            {% if request.user.is_superuser %}
            <header>
                <ul class="icons">
                    {% if config.SOCIAL_NETWORKS_TWITTER_URL != '#' %}
                        <li><a href="{{ config.SOCIAL_NETWORKS_TWITTER_URL }}" class="icon brands fa-twitter"
                               title="Twitter"><span class="label">{% translate 'Twitter' %}</span></a></li>
                    {% endif %}
                    {% if config.SOCIAL_NETWORKS_FACEBOOK_URL != '#' %}
                        <li><a href="{{ config.SOCIAL_NETWORKS_FACEBOOK_URL }}" class="icon brands fa-facebook-f"
                               title="Facebook"><span class="label">{% translate 'Facebook' %}</span></a></li>
                    {% endif %}
                    {% if config.SOCIAL_NETWORKS_SNAPCHAT_URL != '#' %}
                        <li><a href="{{ config.SOCIAL_NETWORKS_SNAPCHAT_URL }}" class="icon brands fa-snapchat-ghost"
                               title="Snapchat"><span class="label">{% translate 'Snapchat' %}</span></a></li>
                    {% endif %}
                    {% if config.SOCIAL_NETWORKS_INSTAGRAM_URL != '#' %}
                        <li><a href="{{ config.SOCIAL_NETWORKS_INSTAGRAM_URL }}" class="icon brands fa-instagram"
                               title="Instagram"><span class="label">{% translate 'Instagram' %}</span></a></li>
                    {% endif %}
                    {% if config.SOCIAL_NETWORKS_MEDIUM_URL != '#' %}
                        <li><a href="{{ config.SOCIAL_NETWORKS_MEDIUM_URL }}" class="icon brands fa-medium-m"
                               title="Medium"><span class="label">{% translate 'Medium' %}</span></a></li>
                    {% endif %}
                    {% if config.SOCIAL_NETWORKS_TELEGRAM_URL != '#' %}
                        <li><a href="{{ config.SOCIAL_NETWORKS_TELEGRAM_URL }}" class="icon brands fa-telegram"
                               title="Telegram"><span class="label">{% translate 'Telegram' %}</span></a></li>
                    {% endif %}
                    {% if config.SOCIAL_NETWORKS_GITHUB_URL != '#' %}
                        <li><a href="{{ config.SOCIAL_NETWORKS_GITHUB_URL }}" class="icon brands fa-github"
                               title="Github"><span class="label">{% translate 'Github' %}</span></a></li>
                    {% endif %}
                    {% if config.SOCIAL_NETWORKS_GITLAB_URL != '#' %}
                        <li><a href="{{ config.SOCIAL_NETWORKS_GITLAB_URL }}" class="icon brands fa-gitlab"
                               title="Gitlab"><span class="label">{% translate 'Gitlab' %}</span></a></li>
                    {% endif %}
                </ul>
            </header>
            {% endif %}
            <!-- /Header -->

            {% block content %}
            {% endblock %}
        </div>
    </div>
</div>

<!-- Scripts -->
<script src="{% static '/assets/js/jquery.min.js' %}"></script>
<script src="{% static '/assets/js/browser.min.js' %}"></script>
<script src="{% static '/assets/js/breakpoints.min.js' %}"></script>
<script src="{% static '/assets/js/util.js' %}"></script>
<script src="{% static '/assets/js/main.js' %}"></script>
<script>
    // Toggle mobile menu
    const mobileMenuButton = document.getElementById('mobile-menu-button');
    const mobileMenu = document.getElementById('mobile-menu');
    mobileMenuButton.addEventListener('click', () => {
        mobileMenu.classList.toggle('hidden');
    });
</script>
{% block custom_script %}
{% endblock custom_script %}
</body>
</html>