{% extends 'base.html' %}
{% load i18n %}
{%block content%}
<header class="major">
    <h2>{% translate 'Contact us' %}</h2>
</header>
   <div class="row">
    <div class="col-6 col-12-small">
        <form method="post" id="contact_form">
            {% csrf_token %}
            <label for="name">{% translate 'Name' %}</label>
            <input type="text" id="name" name="name" required>
            
            <label for="email">{% translate 'Email' %}</label>
            <input type="email" id="email" name="email" required>
            
            <label for="subject">{% translate 'Subject' %}</label>
            <input type="text" id="subject" name="subject" required>
            
            <label for="message">{% translate 'Message' %}</label>
            <textarea id="message" name="message" rows="4" required></textarea>
            
            <input type="submit" value="{% translate 'Send Message' %}" class="button primary">
        </form>
    </div>
    </div>

    {% endblock %}