{% extends 'base.html' %}
{% load i18n %}

{% block content %}
    <!-- Content -->
    <section>
        <header class="main" style="max-width: 50rem; margin:auto">
            <h1>{{ object.title }}</h1>
        </header>

        <span class="image main" style="max-width: 50rem; margin:auto; padding-bottom: 2rem">
            <img src="{{ object.thumbnail.url }}" alt="{{ object.title }}">
        </span>

        <div class="text-box" style="max-width: 50rem; margin:auto">
        
            {{ object.content | safe }}
        </div>
        
        <div class="blog-wrapper">


        </div>


        {% if object.video %}
            <a href="{{ object.video }}" class="button primary fit icon solid fa-video">{% translate 'Show Video' %}</a>
        {% endif %}

        {% if object.audio %}
            <a href="{{ object.audio.url }}" class="button primary fit icon solid fa-download">{% translate 'Download Audio' %}</a>
        {% endif %}

    </section>
    <!-- /Content -->
{% endblock %}